<div class='chat-container'>
  <div class='chat-container__inner'>
    <div class='message-container' id='message-container'></div>

    <div class='chat-input'>
      <div class='chat-input__inner'>
        <form id='messages-form'>
          <input type='text' name='message' id='message-input' />
          <input type='submit' value='send' />
        </form>
      </div>
    </div>
  </div>
</div>

<script src='../../script/get-cookie.js'></script>
<script src='../../script/auth-check.js'></script>
<script src='../../script/chat.js'></script>