<div class='all-games-container'>
  <div style=' margin-top: 30px;'>
    <h1 class='games-word'>Games</h1>
  </div>
  <div style='display: flex;'>
    <div class='left' style='width: 50%;'>
      <h3>You can create your own game:</h3>
      <form class='create-game-form'>
        <label for='game-name' class='game-name'>Name of new game:</label>
        <input
          class='game-name-input'
          type='game-name'
          id='game-name'
          name='game-name'
          placeholder='Enter name of your game'
        />
        <label for='team-number'>Choose your team size:</label>
        <select id='team-number' name='team-number'>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='2'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
        </select>
        <label for='level'>Choose word difficulty:</label>
        <select id='level' name='level'>
          <option value='easy'>Easy</option>
          <option value='medium'>Medium</option>
          <option value='hard'>Hard</option>
        </select>
      </form>
      <button class='create-game-button' id='create-game-button'>Create new game</button>
    </div>
    <div class='right' style=' margin-right: 0;'>
      <h3>.. or join existing one:</h3>
      <div style='padding: 20px;'>
        {{#each games}}
          {{#ifEqualsTwo this.status 'creating' 'playing'}}
            <div class='one-game-container'>
              <button
                class='join-game-button'
                id='join-game-button'
                data-id='{{this.id}}'
              >Game:
                {{this.name}}</button>
            </div>
          {{/ifEqualsTwo}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src='../../script/get-game.js'></script>
<script src='../../script/get-cookie.js'></script>
<script src='../../script/create-game.js'></script>
