<div class="auth-container">
    <h1 class="title-center">Login</h1>
    <form class="loginForm">
        <label for="email" class="label-signup">Email:</label>
        <input class="input-signup" type="email" id="email" name="email" required placeholder="Enter your email">
        <label for="password" class="label-signup">Password:</label>
        <input class="input-signup" type="password" id="password" name="password" required
               placeholder="Enter your password">
        <button type="submit">Login</button>
        <p>If you don't have an account, please create one: <a class="to-register" href="register">Create Account</a></p>
    </form>
</div>

<script src='../../script/signIn.js'></script>
