<div class="auth-container">
    <h1 class="title-center">Register</h1>
    <form class="registerForm">
        <label for="username" class="label-signup">Username:</label>
        <input class="input-signup" type="text" id="username" name="username" required placeholder="Enter your name">
        <label for="email" class="label-signup">Email:</label>
        <input class="input-signup" type="email" id="email" name="email" required placeholder="Enter your email">
        <label for="password" class="label-signup">Password:</label>
        <input class="input-signup" type="password" id="password" name="password" required placeholder="Enter your password">
        <label for="confirmPassword" class="label-signup">Confirm Password:</label>
        <input class="input-signup" type="password" id="confirmPassword" name="confirmPassword" required placeholder="Repeat your password">
        <button class="register-button" type="submit">Register</button>
        <p>If you have an account, please sign in: <a class="to-register" href="login">Sign In</a></p>
    </form>
</div>

<script src='../../script/signup.js'></script>
