<header>
    <ul class="navigation-list">
        <li class="navigation-item"><a class="navigation-link" href="/">Home</a></li>
        <li class="navigation-item"><a class="navigation-link" href="chat/4b38d178f5e931d930f4771952000b7f">Game</a></li>
        <li class="navigation-item"><a class="navigation-link" href="rules">Rules</a></li>
        <li class="navigation-item"><a class="navigation-link" href="login">Sign In</a></li>
    </ul>
</header>
