<header>
    <ul class="navigation-list">
        <li class="navigation-item"><a class="navigation-link" href="/">Home</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/games">Games</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/rules">Rules</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/profile">Profile</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/login">Sign In</a></li>
    </ul>
</header>
