body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.navigation-list {
    display: flex;
    list-style-type: none;
}

.navigation-link {
    text-decoration: none;
    color: black;
    padding-right: 15px;
}
body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

body > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.registerForm,  .loginForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 370px;
    width: 100%;
}

.label-signup {
    display: block;
    margin-bottom: 8px;
}

.input-signup {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #3e6ae1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.to-register {
    text-decoration: none;
    color: #3e6ae1;
}

.game-description {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
