<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
    <link rel='stylesheet' href='../../../styles/chat.css' />
    <link rel='stylesheet' href='../../../styles/allGames.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>