<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
    <link rel='stylesheet' href='../../../styles/chat.css' />
    <link rel='stylesheet' href='../../../styles/allGames.css' />
    <link rel='stylesheet' href='../../../styles/homepage.css' />
    <link rel='stylesheet' href='../../../styles/normalize.css' />
    <link rel='stylesheet' href='../../../styles/profile.css' />
  </head>
  <body>
  {{> header}}
  {{{body}}}
  {{> footer}}
  </body>
</html>
